[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    ui = true

[alias]
    a = add
    ad = add
    b = branch
    br = branch
    c = commit
    cm = commit
    ci = commit
    co = checkout
    d = diff
    df = diff
    f = fetch
    l = log
    lg = log
    m = merge
    mg = merge
    p = push
    r = remote
    rt = remote
    s = status
    st = status
    amend = commit --amend

[user]
	name = Lucien Lee
	email = lkiral7903@gmail.com

[include]
    path = ~/.local.gitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "https://"]
	insteadOf = git://
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
